@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/latoregular.woff2"), url("../fonts/latoregular.woff");
}
@font-face {
  font-family: "Vogue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/VogueBold.woff2"), url("../fonts/VogueBold.woff");
}
