// colors
$mainColor: #09555c;
$secondColor: #fff;
$greenColor: #a2e621;
$footerColor: #212121;
$textColor: #c4c6c6;

// sizes

$mobile: 320px;
$tablet: 767px;
$tabletLarge: 1023px;
$laptop: 1279px;
$desktopSmall: 1439px;
$desktopLarge: 1919px;

// font-sizes

$base: 16px;
$generalMedium: 18px;
$general: 24px;
$text: 48px;
$title: 128px;
