.page {
  .conditions {
    position: relative;
    .conditions-title {
      margin-top: 4.6875rem;
      &::before {
        bottom: 35%;
        left: 27%;
      }
    }
    .conditions-wrapper {
      background-color: #fff;
      .conditions_list {
        padding: 3.125rem 0;
        padding-left: 6.25rem;

        list-style: none;
        .conditions_list-item {
          position: relative;
          margin-bottom: 1.5625rem;
          color: $mainColor;
          @extend %list-items;
          &::before {
            background-color: $mainColor;
          }
        }
      }
    }
    .conditions-btn_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4.6875rem 0;
      .conditions-btn {
        position: relative;
        @include btn();
        background-color: $secondColor;
        border: 5px solid $secondColor;
        &::after {
          @include circle;
          bottom: 0;
          right: -5.3125rem;
        }
        &:hover {
          border-color: $greenColor;
        }
      }
    }
    .conditions_decoration-bot_left {
      bottom: -25rem;
      left: 0;
    }
    .conditions_decoration-bot_right {
      bottom: -10rem;
      right: 0;
    }
  }
}

@media (min-width: $mobile) and (max-width: $tablet) {
  .page {
    .conditions {
      .conditions-title {
        margin-top: 2rem;
        font-size: 3rem;
        &::before {
          bottom: 34%;
          left: 5%;
          width: 20px;
          height: 20px;
        }
      }
      .conditions-wrapper {
        .conditions_list {
          padding: 1.5rem;
          padding-left: 2.5rem;
          .conditions_list-item {
            margin-bottom: 1rem;
            font-size: $base;
            &::before {
              top: 0.25rem;
              left: -1.5rem;
              width: 16px;
              height: 16px;
            }
          }
        }
      }
      .conditions-btn_wrapper {
        margin: 4.6875rem 0;
        .conditions-btn {
          @include btn();
          width: 160px;
          height: 50px;
          font-size: $base - 2px;

          &::after {
            width: 20px;
            height: 20px;
            right: -3rem;
          }
        }
      }
      .conditions_decoration-bot_left {
        bottom: 3rem;
        left: 0;
        width: 20%;
      }
      .conditions_decoration-bot_right {
        bottom: 3rem;
        right: 0;
        width: 20%;
      }
    }
  }
}

@media (min-width: $tablet) and (max-width: $tabletLarge) {
  .page {
    .conditions {
      .conditions-title {
        margin-top: 2rem;
        &::before {
          bottom: 34%;
          left: 23%;
          width: 25px;
          height: 25px;
        }
      }
      .conditions-wrapper {
        .conditions_list {
          .conditions_list-item {
            margin-bottom: 1rem;
            font-size: $generalMedium;
            &::before {
              top: 0.25rem;
              left: -2rem;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .conditions-btn_wrapper {
        margin: 4.6875rem 0;
        .conditions-btn {
          @include btn();
          width: 160px;
          height: 50px;
          font-size: $base - 2px;

          &::after {
            width: 25px;
            height: 25px;
            right: -4rem;
          }
        }
      }
      .conditions_decoration-bot_left {
        bottom: -4rem;
        left: 0;
        width: 20%;
      }
      .conditions_decoration-bot_right {
        bottom: -2rem;
        right: 0;
        width: 20%;
      }
    }
  }
}

@media (min-width: $tabletLarge) and (max-width: $laptop) {
  .page {
    .conditions {
      .conditions-title {
        margin-top: 2rem;
        &::before {
          bottom: 34%;
          left: 28%;
          width: 25px;
          height: 25px;
        }
      }
      .conditions-wrapper {
        .conditions_list {
          .conditions_list-item {
            margin-bottom: 1.25rem;
            font-size: $generalMedium;
            &::before {
              top: 0.25rem;
              left: -2rem;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .conditions-btn_wrapper {
        margin: 4.6875rem 0;
        .conditions-btn {
          @include btn();
          width: 220px;
          height: 55px;
          font-size: $generalMedium;

          &::after {
            width: 25px;
            height: 25px;
            right: -4rem;
          }
        }
      }
      .conditions_decoration-bot_left {
        bottom: -8rem;
        left: 0;
        width: 20%;
      }
      .conditions_decoration-bot_right {
        bottom: -5rem;
        right: 0;
        width: 20%;
      }
    }
  }
}

@media (min-width: $laptop) and (max-width: $desktopSmall) {
  .page {
    .conditions {
      .conditions-title {
        margin-top: 2rem;
        &::before {
          bottom: 29%;
          left: 31%;
        }
      }
      .conditions-wrapper {
        .conditions_list {
          .conditions_list-item {
            margin-bottom: 1.25rem;
            font-size: $generalMedium;
            &::before {
              top: 0.25rem;
              left: -2rem;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .conditions-btn_wrapper {
        margin: 4.6875rem 0;
        .conditions-btn {
          @include btn();
          width: 220px;
          height: 55px;
          font-size: $generalMedium;

          &::after {
            width: 35px;
            height: 35px;
            right: -5.3125rem;
          }
        }
      }
      .conditions_decoration-bot_left {
        bottom: -15rem;
        left: 0;
        width: 20%;
      }
      .conditions_decoration-bot_right {
        bottom: -8rem;
        right: 0;
        width: 15%;
      }
    }
  }
}

@media (min-width: $desktopSmall) and (max-width: $desktopLarge) {
  .page {
    .conditions {
      .conditions-title {
        margin-top: 2rem;
        &::before {
          bottom: 35%;
          left: 28%;
        }
      }
      .conditions-wrapper {
        .conditions_list {
          .conditions_list-item {
            margin-bottom: 1.25rem;
            font-size: $generalMedium;
            &::before {
              top: 0.25rem;
              left: -2rem;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .conditions-btn_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4.6875rem 0;
        .conditions-btn {
          @include btn();
          width: 220px;
          height: 55px;
          font-size: $generalMedium;

          &::after {
            width: 35px;
            height: 35px;
            right: -5.3125rem;
          }
        }
      }
      .conditions_decoration-bot_left {
        bottom: -15rem;
        left: 0;
        width: 20%;
      }
      .conditions_decoration-bot_right {
        bottom: -8rem;
        right: 0;
        width: 15%;
      }
    }
  }
}
