.page-footer {
  max-height: 100vh;
  position: relative;
  z-index: 1;
  background-color: $footerColor;
  .slogan {
    padding: 3.125rem 0;
    font-size: 1.875rem;
    text-align: center;
  }
  .info_links-list {
    @include info_links-list;
    height: 70px;
    justify-content: center;
  }
  .copyright_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .autor {
      margin: 1.875rem 0 1.25rem;
      .autor-link {
        color: $greenColor;
      }
    }
    .year {
      margin-bottom: 1.25rem;
    }
  }
}

@media (min-width: $desktopSmall) and ((max-width: $desktopLarge)) {
  .page-footer {
    .slogan {
      padding: 2rem 0;
      font-size: $generalMedium;
    }
    .info_links-list {
      @include info_links-list;
    }
    .copyright_wrapper {
      .autor {
        margin: 1.25rem 0 1rem;
        font-size: $generalMedium;
      }
      .year {
        margin-bottom: 1.25rem;
        font-size: $generalMedium;
      }
    }
  }
}
@media (min-width: $laptop) and ((max-width: $desktopSmall)) {
  .page-footer {
    .slogan {
      padding: 2rem 0;
      font-size: $generalMedium;
    }
    .info_links-list {
      @include info_links-list;
    }
    .copyright_wrapper {
      .autor {
        margin: 1.25rem 0 1rem;
        font-size: $generalMedium;
      }
      .year {
        margin-bottom: 1.25rem;
        font-size: $generalMedium;
      }
    }
  }
}
<<<<<<< HEAD

@media (min-width: $tabletLarge) and ((max-width: $laptop)) {
  .page-footer {
    .slogan {
      padding: 2rem 0;
      font-size: $generalMedium;
    }
    .info_links-list {
      @include info_links-list;
    }
    .copyright_wrapper {
      .autor {
        margin: 1.25rem 0 1rem;
        font-size: $generalMedium;
      }
      .year {
        margin-bottom: 1.25rem;
        font-size: $generalMedium;
      }
    }
  }
}
=======
>>>>>>> 160ac74bb7238d595854d4fa66a0a935bb34c892
