.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10;
  transition: linear 0.5s;
  .modal_overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    .modal_wrapper {
      position: relative;
      width: 30%;
      background-color: $secondColor;
      padding: 50px;
      padding-top: 100px;
      border-radius: 50px;
      .modal_close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;

        &::after,
        &::before {
          position: absolute;
          top: center;
          display: block;
          width: 50px;
          height: 5px;
          background-color: $greenColor;
          content: "";
          border-radius: 30px;
          transition: linear 0.6s;
        }

        &::after {
          transform: rotate(45deg);
        }
        &::before {
          transform: rotate(-45deg);
        }

        &:hover {
          &::after,
          &::before {
            background-color: $mainColor;
          }
        }
      }

      .connect_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .connect_form_label {
          width: 100%;
          margin-bottom: 30px;
          .connect_form_input {
            display: block;
            width: 100%;
            padding: 15px 10px;
            border: 4px solid $greenColor;
            border-radius: 10px;
            outline: none;
            &:focus {
              border: 4px solid $mainColor;
            }
          }
        }

        .connect_form_textarea {
          display: block;
          width: 100%;
          height: 200px;
          max-height: 300px;
          padding: 15px 10px;
          margin-bottom: 45px;
          border: 4px solid $greenColor;
          border-radius: 10px;
          outline: none;
          resize: none;
          &:focus {
            border: 4px solid $mainColor;
          }
        }

        .connect_form_btn {
          width: 145px;
          height: 50px;
          font-size: 40px;
          font-family: "Vogue";
          border-radius: 10px;
          color: $mainColor;
          background-color: $greenColor;
        }
      }
    }
  }
}

@media (min-width: $desktopSmall) and ((max-width: $desktopLarge)) {
  .modal {
    .modal_overlay {
      .modal_wrapper {
        width: 30%;
        padding: 2rem;
        padding-top: 5rem;
        border-radius: 50px;
        .modal_close {
          top: 1.5rem;
          right: 1.5rem;
          width: 35px;
          height: 35px;

          &::after,
          &::before {
            width: 30px;
            height: 5px;
          }
        }

        .connect_form {
          .connect_form_label {
            margin-bottom: 1.25rem;
            .connect_form_input {
              padding: 0.75rem 0.5rem;
              font-size: $generalMedium;
            }
          }

          .connect_form_textarea {
            height: 150px;
            padding: 0.75rem 0.5rem;
            font-size: $generalMedium;
          }

          .connect_form_btn {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media (min-width: $laptop) and ((max-width: $desktopSmall)) {
  .modal {
    .modal_overlay {
      .modal_wrapper {
        width: 30%;
        padding: 2rem;
        padding-top: 5rem;
        border-radius: 50px;
        .modal_close {
          top: 1.5rem;
          right: 1.5rem;
          width: 35px;
          height: 35px;

          &::after,
          &::before {
            width: 30px;
            height: 5px;
          }
        }

        .connect_form {
          .connect_form_label {
            margin-bottom: 1.25rem;
            .connect_form_input {
              padding: 0.75rem 0.5rem;
              font-size: $generalMedium;
            }
          }

          .connect_form_textarea {
            height: 150px;
            padding: 0.75rem 0.5rem;
            font-size: $generalMedium;
          }

          .connect_form_btn {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
@media (min-width: $tabletLarge) and ((max-width: $laptop)) {
  .modal {
    .modal_overlay {
      .modal_wrapper {
        width: 40%;
        padding: 2rem;
        padding-top: 5rem;
        margin-top: 8rem;
        border-radius: 50px;
        .modal_close {
          top: 1.5rem;
          right: 1.5rem;
          width: 35px;
          height: 35px;

          &::after,
          &::before {
            width: 30px;
            height: 5px;
          }
        }

        .connect_form {
          .connect_form_label {
            margin-bottom: 1.25rem;
            .connect_form_input {
              padding: 0.75rem 0.5rem;
              font-size: $generalMedium;
            }
          }

          .connect_form_textarea {
            height: 150px;
            padding: 0.75rem 0.5rem;
            font-size: $generalMedium;
          }

          .connect_form_btn {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media (min-width: $tablet) and ((max-width: $tabletLarge)) {
  .modal {
    .modal_overlay {
      .modal_wrapper {
        width: 50%;
        padding: 2rem;
        padding-top: 5rem;
        border-radius: 50px;
        .modal_close {
          top: 1.5rem;
          right: 1.5rem;
          width: 35px;
          height: 35px;

          &::after,
          &::before {
            width: 30px;
            height: 5px;
          }
        }

        .connect_form {
          .connect_form_label {
            margin-bottom: 1.25rem;
            .connect_form_input {
              padding: 0.75rem 0.5rem;
              font-size: $generalMedium;
            }
          }

          .connect_form_textarea {
            height: 150px;
            padding: 0.75rem 0.5rem;
            font-size: $generalMedium;
          }

          .connect_form_btn {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
@media (min-width: $mobile) and ((max-width: $tablet)) {
  .modal {
    .modal_overlay {
      .modal_wrapper {
        width: 90%;
        padding: 2rem;
        padding-top: 5rem;
        border-radius: 50px;
        .modal_close {
          top: 1.5rem;
          right: 1.5rem;
          width: 35px;
          height: 35px;

          &::after,
          &::before {
            width: 30px;
            height: 5px;
          }
        }

        .connect_form {
          .connect_form_label {
            margin-bottom: 1.25rem;
            .connect_form_input {
              padding: 0.75rem 0.5rem;
              font-size: $generalMedium;
            }
          }

          .connect_form_textarea {
            height: 150px;
            padding: 0.75rem 0.5rem;
            font-size: $generalMedium;
          }

          .connect_form_btn {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

.modal--close {
  opacity: 0;
  z-index: -1;
}
