.page {
  .portfolio {
    position: relative;
    padding-top: 4.6875rem;
    background-color: $secondColor;

    .container {
      .portfolio-title {
        color: $mainColor;
        &::before {
          bottom: 35%;
          left: 25%;
        }
      }

      .swiper-portfolio {
        .swiper-wrapper {
          margin-bottom: 7.5rem;
          .portfolio-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            .img-block {
              position: relative;
              width: 70%;
              min-height: 700px;
              margin: 3.125rem auto;
              border-radius: 10px;
              background-repeat: no-repeat;
              background-size: cover;
              box-shadow: 0px 0px 25px 5px rgb(0, 0, 0);
              .btn_close-discription {
                display: none;
              }

              .swiper-slide_link {
                @include btn();
                position: absolute;
                bottom: 3.75rem;
                left: 3.75rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                max-width: 250px;
                padding-left: 2rem;
                background-color: $secondColor;
                border: 5px solid $secondColor;
                text-transform: uppercase;
                opacity: 0;
                &::before {
                  position: absolute;
                  display: block;
                  right: 2rem;
                  width: 24px;
                  height: 24px;
                  content: "";
                  background-color: $greenColor;
                  border-radius: 50%;
                }
                &:hover {
                  border-color: $greenColor;
                }
              }
              .swiper-slide_descriptoin {
                position: absolute;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.7);
                transition: linear 1s;
                opacity: 1;
                z-index: 1;
                .descriptoin-content {
                  padding: 0 4.375rem 4.375rem;
                  .descriptoin-title {
                    font-size: $text;
                    color: $greenColor;
                  }
                  .description-text {
                    font-size: $general;
                    line-height: 1;
                  }
                }
              }
              &:hover {
                .swiper-slide_link {
                  transition: 1s linear;
                  transition-delay: 0.5s;
                  opacity: 1;
                  z-index: 5;
                }

                .swiper-slide_descriptoin {
                  opacity: 0;
                }
              }
            }
            .academy {
              background-image: url(../img/1.png);
            }
            .elena {
              background-image: url(../img/2.png);
            }
          }
        }

        .swiper-pagination {
          bottom: 7%;
          .swiper-pagination-bullet {
            width: 18px;
            height: 18px;
            background-color: $mainColor;
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          top: 40%;
        }

        .swiper-button-prev {
          left: 6.875rem;
          &::after {
            content: url(../../img/slider_arrow_left.svg);
          }
        }

        .swiper-button-next {
          right: 6.875rem;
          &::after {
            content: url(../../img/slider_arrow_right.svg);
          }
        }
      }
    }
    .portfolio_decoration-bot_left {
      bottom: -25%;
      left: 0;
    }
    .portfolio_decoration-bot_right {
      bottom: -25%;
      right: 0;
    }
  }
}

@media (min-width: $desktopSmall) and ((max-width: $desktopLarge)) {
  .page {
    .portfolio {
      padding-top: 0;

      .container {
        .swiper-portfolio {
          .swiper-wrapper {
            margin-bottom: 3.5rem;
            .portfolio-slide {
              .img-block {
                width: 60%;
                min-height: 470px;
                .swiper-slide_descriptoin {
                  .descriptoin-content {
                    padding: 0 2.5rem 2.5rem;
                    .descriptoin-title {
                      font-size: $generalMedium * 2;
                      color: $greenColor;
                    }
                    .description-text {
                      font-size: $generalMedium;
                      line-height: 1;
                    }
                  }
                }
                .swiper-slide_link {
                  @include btn();
                  bottom: 2.5rem;
                  left: 2.5rem;
                  max-width: 190px;
                  height: 50px;
                  font-size: $generalMedium;
                  &::before {
                    width: 18px;
                    height: 18px;
                    content: "";
                    background-color: $greenColor;
                    border-radius: 50%;
                  }
                  &:hover {
                    border-color: $greenColor;
                  }
                }
              }
            }
          }

          .swiper-pagination {
            bottom: 6%;
            .swiper-pagination-bullet {
              width: 14px;
              height: 14px;
            }
          }

          .swiper-button-prev,
          .swiper-button-next {
            top: 45%;
          }

          .swiper-button-prev {
            left: 8rem;
          }

          .swiper-button-next {
            right: 8rem;
          }
        }
      }
      .portfolio_decoration-bot_left {
        bottom: -20%;
        left: 0;
        width: 15%;
      }
      .portfolio_decoration-bot_right {
        bottom: -20%;
        right: 0;
        width: 15%;
      }
    }
  }
}
<<<<<<< HEAD

=======
>>>>>>> 160ac74bb7238d595854d4fa66a0a935bb34c892
@media (min-width: $laptop) and ((max-width: $desktopSmall)) {
  .page {
    .portfolio {
      padding-top: 0;

      .container {
        .portfolio-title {
          &::before {
            bottom: 30%;
            left: 30%;
          }
        }
        .swiper-portfolio {
          .swiper-wrapper {
            margin-bottom: 6.5rem;
            .portfolio-slide {
              .img-block {
                width: 85%;
                min-height: 600px;
                margin: 1.5rem auto;
                box-shadow: 0px 0px 16px 5px #000;
                .swiper-slide_descriptoin {
                  .descriptoin-content {
                    padding: 0 2.5rem 2.5rem;
                    .descriptoin-title {
                      font-size: $generalMedium * 2;
                      color: $greenColor;
                    }
                    .description-text {
                      font-size: $generalMedium;
                      line-height: 1;
                    }
                  }
                }
                .swiper-slide_link {
                  @include btn();
                  bottom: 2.5rem;
                  left: 2.5rem;
                  max-width: 190px;
                  height: 50px;
                  font-size: $generalMedium;
                  &::before {
                    width: 18px;
                    height: 18px;
                    content: "";
                    background-color: $greenColor;
                    border-radius: 50%;
                  }
                  &:hover {
                    border-color: $greenColor;
                  }
                }
              }
            }
          }

          .swiper-pagination {
            bottom: 6%;
            .swiper-pagination-bullet {
              width: 14px;
              height: 14px;
            }
          }

          .swiper-button-prev,
          .swiper-button-next {
            top: 45%;
          }

          .swiper-button-prev {
            left: 1rem;
          }

          .swiper-button-next {
            right: 1rem;
          }
        }
      }
      .portfolio_decoration-bot_left {
        bottom: -20%;
        left: 0;
        width: 15%;
      }
      .portfolio_decoration-bot_right {
        bottom: -20%;
        right: 0;
        width: 15%;
      }
    }
  }
}
<<<<<<< HEAD

@media (min-width: $tabletLarge) and ((max-width: $laptop)) {
  .page {
    .portfolio {
      padding-top: 0;

      .container {
        .portfolio-title {
          &::before {
            bottom: 34%;
            left: 29%;
          }
        }
        .swiper-portfolio {
          .swiper-wrapper {
            margin-bottom: 6.5rem;
            .portfolio-slide {
              .img-block {
                width: 85%;
                min-height: 520px;
                margin: 1.5rem auto;
                box-shadow: 0px 0px 16px 5px #000;
                .btn_close-discription {
                  position: absolute;
                  z-index: 2;
                  display: block;
                  top: 2rem;
                  right: 2rem;
                  width: 40px;
                  height: 40px;
                  background: center center no-repeat;
                  border: 2px solid $greenColor;
                  border-radius: 10px;
                  cursor: pointer;
                  transition: linear 1s;
                }
                .btn_close-discription--open {
                  background-image: url(../img/Icn.svg);
                }

                .btn_close-discription--close {
                  background-image: url(../img/Icn2.svg);
                }
                .swiper-slide_descriptoin {
                  .descriptoin-content {
                    padding: 0 2.5rem 2.5rem;
                    .descriptoin-title {
                      font-size: $generalMedium * 2;
                      color: $greenColor;
                    }
                    .description-text {
                      font-size: $generalMedium;
                      line-height: 1;
                    }
                  }
                }
                .swiper-slide_link {
                  @include btn();
                  bottom: 2.5rem;
                  left: 2.5rem;
                  max-width: 190px;
                  height: 50px;
                  font-size: $generalMedium;
                  &::before {
                    width: 18px;
                    height: 18px;
                    content: "";
                    background-color: $greenColor;
                    border-radius: 50%;
                  }
                  &:hover {
                    border-color: $greenColor;
                  }
                }
              }
              .img-block--active {
                .swiper-slide_link {
                  transition: 1s linear;
                  transition-delay: 0.5s;
                  opacity: 1;
                  z-index: 5;
                }

                .swiper-slide_descriptoin {
                  opacity: 0;
                }
              }
            }
          }

          .swiper-pagination {
            bottom: 6%;
            .swiper-pagination-bullet {
              width: 14px;
              height: 14px;
            }
          }

          .swiper-button-prev,
          .swiper-button-next {
            display: none;
          }
        }
      }
      .portfolio_decoration-bot_left {
        bottom: -15%;
        left: 0;
        width: 15%;
      }
      .portfolio_decoration-bot_right {
        bottom: -17%;
        right: 0;
        width: 15%;
      }
    }
  }
}
=======
>>>>>>> 160ac74bb7238d595854d4fa66a0a935bb34c892
