.page {
  .skills {
    padding-top: 4.6875rem;

    .skills-title {
      &::before {
        bottom: 35%;
        left: 36%;
      }
    }

    .skills_list {
      padding: 3.125rem 0;
      padding-left: 6.25rem;
      list-style: none;

      .skills_list-item {
        margin-bottom: 1.5625rem;
      }
    }

    .skills_wrapper {
      padding-top: 2.1875rem;
      display: flex;
      align-items: flex-end;

      .skills-btn_wrapper {
        position: relative;
        margin-left: auto;
        .skills-btn_span {
          @include circle;
          display: block;
          bottom: 0;
        }
        .span_1 {
          left: -10.3125rem;
        }
        .span_2 {
          left: -5.3125rem;
        }
        .skills-btn {
          @include btn();
          background-color: $greenColor;
          border: 5px solid $greenColor;
          &:hover {
            border-color: $secondColor;
          }
        }
      }
    }
  }
}

@media (min-width: $desktopSmall) and ((max-width: $desktopLarge)) {
  .page {
    .skills {
      padding-top: 2rem;

      .skills_list {
        padding: 3.125rem 0;
        padding-left: 6.25rem;
        list-style: none;

        .skills_list-item {
          margin-bottom: 1.25rem;
          font-size: $generalMedium;
        }
      }

      .skills_wrapper {
        .skills-btn_wrapper {
          .skills-btn_span {
            @include circle;
            width: 35px;
            height: 35px;
          }
          .span_1 {
            left: -9rem;
          }
          .span_2 {
            left: -4.5rem;
          }
          .skills-btn {
            @include btn();
            max-width: 220px;
            height: 55px;
            font-size: $generalMedium;
          }
        }
      }
    }
  }
}

@media (min-width: $laptop) and ((max-width: $desktopSmall)) {
  .page {
    .skills {
      padding-top: 2rem;
      .skills-title {
        &::before {
          bottom: 30%;
          left: 38%;
        }
      }

      .skills_list {
        padding: 3.125rem 0;
        padding-left: 6.25rem;
        list-style: none;

        .skills_list-item {
          margin-bottom: 1.25rem;
          font-size: $generalMedium;
        }
      }

      .skills_wrapper {
        .skills-btn_wrapper {
          .skills-btn_span {
            @include circle;
            width: 35px;
            height: 35px;
          }
          .span_1 {
            left: -9rem;
          }
          .span_2 {
            left: -4.5rem;
          }
          .skills-btn {
            @include btn();
            max-width: 220px;
            height: 55px;
            font-size: $generalMedium;
          }
        }
      }
    }
  }
}
@media (min-width: $tabletLarge) and ((max-width: $laptop)) {
  .page {
    .skills {
      padding-top: 2rem;
      .skills-title {
        &::before {
          bottom: 34%;
          left: 38%;
        }
      }

      .skills_list {
        padding: 3.125rem 0;
        padding-left: 6.25rem;
        list-style: none;

        .skills_list-item {
          margin-bottom: 1.25rem;
          font-size: $generalMedium;
        }
      }

      .skills_wrapper {
        .skills-btn_wrapper {
          .skills-btn_span {
            @include circle;
            width: 25px;
            height: 25px;
          }
          .span_1 {
            left: -7rem;
          }
          .span_2 {
            left: -3.5rem;
          }
          .skills-btn {
            @include btn();
            max-width: 220px;
            height: 55px;
            font-size: $generalMedium;
          }
        }
      }
    }
  }
}

@media (min-width: $tablet) and ((max-width: $tabletLarge)) {
  .page {
    .skills {
      padding-top: 2rem;
      .skills-title {
        &::before {
          bottom: 34%;
          left: 35%;
        }
      }

      .skills_list {
        padding: 2.5rem 0;
        padding-left: 2.5rem;

        .skills_list-item {
          margin-bottom: 1rem;
          font-size: $generalMedium;
        }
      }

      .skills_wrapper {
        padding-top: 0;
        .skills-img {
          width: 20%;
        }
        .skills-btn_wrapper {
          .skills-btn_span {
            @include circle;
            width: 25px;
            height: 25px;
          }
          .span_1 {
            left: -7rem;
          }
          .span_2 {
            left: -3.5rem;
          }
          .skills-btn {
            @include btn();
            max-width: 160px;
            height: 50px;
            font-size: $base - 2px;
          }
        }
      }
    }
  }
}
@media (min-width: $mobile) and ((max-width: $tablet)) {
  .page {
    .skills {
      padding-top: 2rem;
      .skills-title {
        font-size: 3rem;
        &::before {
          bottom: 34%;
          left: 25%;
        }
      }

      .skills_list {
        padding: 1.5rem 0;
        padding-left: 2.5rem;
        padding-bottom: 0;

        .skills_list-item {
          margin-bottom: 1rem;
          font-size: $base;
        }
      }

      .skills_wrapper {
        padding-top: 0;
        flex-direction: column;
        align-items: center;
        .skills-img {
          width: 20%;
          margin-bottom: 1.5rem;
        }
        .skills-btn_wrapper {
          margin-left: 0;
          .skills-btn_span {
            @include circle;
            width: 25px;
            height: 25px;
          }
          .span_1 {
            width: 20px;
            height: 20px;
            left: -3rem;
          }
          .span_2 {
            display: none;
          }
          .skills-btn {
            @include btn();
            max-width: 160px;
            height: 50px;
            font-size: $base - 2px;
          }
        }
      }
    }
  }
}
